<template>
  <div>
    <b-row >
      <b-col sm="12">
        <country-form :id="actionid" :mode="mode"
          @create:item="item => itemCreated(item)"
          @update:item="item => itemUpdated(item)"
          @cancel="cancelItem">
        </country-form>
      </b-col>
    </b-row>
  </div>
</template>

<script>
import CountryForm from '@/views/country/CountryForm'
import formErrors from '@/components/formErrors'

export default {
  mixins: [
    formErrors
  ],
  components: {
    CountryForm
  },
  props: ['id', 'mode'],
  data () {
    return {
      actionid: this.id
    }
  },
  watch: {
    id (val) {
      this.actionid = val
    }
  },
  beforeRouteUpdate (to, from, next) {
    this.actionid = to.params.id
    next()
  },
  methods: {
    itemCreated (item) {
      const msg = `New Country ${item.id} has been created`
      console.log(msg)
      this.$snotify.success(msg, 'Success')
    },
    itemUpdated (item) {
      const msg = `Country ${item.id} has been updated`
      console.log(msg)
      this.$snotify.success(msg, 'Success')
      this.$router.push('/countries')
    },
    cancelItem () {
      console.log('Go Back')
      this.$router.go(-1)
    }
  }
}
</script>
