<template>
  <div>
    <b-row >
      <b-col sm="12">
        <b-card v-if="isListMode" class="animated fadeIn">
          <div slot="header">
            Countries
            <!-- <b-button variant="success" class="float-right" @click="createItem">Add</b-button> -->
            <router-link class="btn btn-success float-right" 
              :to="{ name: 'add-country' }">Add
            </router-link>
            <b-row>
              <b-col offset-md="6" md="6" sm="12">
                <b-input-group>
                  <b-input-group-prepend>
                    <b-input-group-text><i class="fa fa-search"></i></b-input-group-text>
                  </b-input-group-prepend>
                  <b-form-input type="text" placeholder="search" v-model="filter"></b-form-input>
                </b-input-group>
              </b-col>
            </b-row>
          </div>
          <b-table striped hover responsive="sm" :items="items" :fields="itemFields">
            <template slot="actions" slot-scope="data">
              <!-- <b-button size="sm" variant="info" @click="viewItem(data.item)">View</b-button> -->
              <router-link class="btn btn-outline-primary" title="View"
                :to="{name: 'view-country', params: {id: data.item.id}}">
                <i class="icon-info icons d-block"></i>
              </router-link>
              <!-- <b-button size="sm" variant="warning" @click="editItem(data.item)">Edit</b-button> -->
              <router-link class="btn btn-outline-success" title="Edit"
                :to="{name: 'edit-country', params: {id: data.item.id}}">
                <i class="icon-pencil icons d-block"></i>
              </router-link>
              <b-button variant="outline-danger" class="btn" title="Delete"
                @click="confirmDeleteItem(data.item)">
                <i class="icon-close icons d-block"></i>
              </b-button>
            </template>
          </b-table>
        </b-card>
      </b-col>
    </b-row>
    <b-modal ref="confirmModal" title="Delete Confirmation!"
      @ok="deleteItemConfirmed()">
      <div class="d-block text-center">
        <h5>Do you want to delete this Country?</h5>
        <h4>{{ `${currentItem.alpha_2_code}: ${currentItem.short_name}` }}</h4>
      </div>
    </b-modal>
  </div>
</template>

<script>
import * as modes from '@/components/modes'
import checkModes from '@/components/checkModes'
import formErrors from '@/components/formErrors'

export default {
  mixins: [
    checkModes,
    formErrors
  ],
  data: () => {
    return {
      items: [],
      itemFields: [
        {key: 'alpha_2_code'},
        {key: 'numeric_code'},
        {key: 'short_name'},
        {key: 'actions'}
      ],
      mode: modes.LIST_MODE,
      filter: '',
      currentItem: {}
    }
  },
  mounted () {
    this.getData()
  },
  beforeRouteUpdate (to, from, next) {
    // just use `this`
    console.log(to.name)
    console.log(to.params)
    next()
  },
  watch: {
    filter: function (val) {
      this.getData(val)
    }
  },
  methods: {
    getData (filter = '') {
      let uri = `/countries`
      if (filter && filter.length > 0) {
        uri = uri + `?name=${filter}`
      }
      this.axios.get(uri)
        .then(response => {
          this.items = response.data.data
        }).catch(error => this.onFail(error))
    },
    createItem () {
      this.$router.push({name: 'add-country'})
    },
    viewItem (item) {
      this.$router.push({name: 'view-country', params: {id: item.id}})
    },
    editItem (item) {
      this.$router.push({name: 'edit-country', params: {id: item.id}})
    },
    confirmDeleteItem (item) {
      this.currentItem = item
      this.$refs.confirmModal.show()
    },
    deleteItemConfirmed () {
      this.axios.delete(`/countries/${this.currentItem.id}`)
        .then(response => {
          console.log(`Country ${this.currentItem.id} has been deleted`)
          this.$snotify.success(`Country has been deleted.`, 'Success')
          this.getData()
        })
    }
  }
}
</script>
