<template>
  <div class="animated fadeIn">
    <b-card class="card-accent-info">
      <div slot="header">
        <strong>Country</strong> <small>{{ printMode }}</small>
      </div>
      <form method="post" class="container" @submit.prevent="validateBeforeSubmit" @keydown="clearErrors($event.target.name)">
        <b-row>
          <b-col sm="4">
            <b-form-group>
              <label for="alpha_2_code">Alpha 2 Code</label>
              <b-form-input type="text" id="alpha_2_code" name="alpha_2_code" placeholder="AA"
                :disabled="isViewMode"
                v-model="item.alpha_2_code"
                v-validate="'required|alpha|min:2|max:2'"
                :class="{ 'is-invalid':  hasError('alpha_2_code') }"
                >
              </b-form-input>
              <i class="text-danger" v-show="hasError('alpha_2_code')" id="validation_alpha_2_code">
                <small>{{ getError('alpha_2_code') }}</small>
              </i>
            </b-form-group>
          </b-col>
          <b-col sm="4">
            <b-form-group>
              <label for="alpha_3_code">Alpha 3 Code</label>
              <b-form-input type="text" id="alpha_3_code" name="alpha_3_code" placeholder="AAA"
                :disabled="isViewMode"
                v-model="item.alpha_3_code"
                v-validate="'required|alpha|min:3|max:3'"
                :class="{ 'is-invalid':  hasError('alpha_3_code') }">
              </b-form-input>
              <i class="text-danger" v-show="hasError('alpha_3_code')" id="validation_alpha_3_code">
                <small>{{ getError('alpha_3_code') }}</small>
              </i>
            </b-form-group>
          </b-col>
          <b-col sm="4">
            <b-form-group>
              <label for="numeric_code">Numeric Code</label>
              <b-form-input type="text" id="numeric_code" name="numeric_code" placeholder="123"
                :disabled="isViewMode"
                v-model="item.numeric_code"
                v-validate="'required|numeric'"
                :class="{ 'is-invalid':  hasError('numeric_code') }">
              </b-form-input>
              <i class="text-danger" v-show="hasError('numeric_code')" id="validation_numeric_code">
                <small>{{ getError('numeric_code') }}</small>
              </i>
            </b-form-group>
          </b-col>
        </b-row>
        <b-row>
          <b-col sm="12">
            <b-form-group>
              <label for="short_name">Short Name</label>
              <b-form-input type="text" id="short_name" name="short_name" placeholder="Enter country short name"
                :disabled="isViewMode"
                v-model="item.short_name"
                v-validate="'required|min:3'"
                :class="{ 'is-invalid':  hasError('short_name') }">
              </b-form-input>
              <i class="text-danger" v-show="hasError('short_name')" id="validation_short_name">
                <small>{{ getError('short_name') }}</small>
              </i>
            </b-form-group>
          </b-col>
        </b-row>
        <div class="form-actions">
          <b-button type="submit" variant="primary" v-if="!isViewMode" :disabled="anyError()">Save changes</b-button>
          <b-button type="button" variant="secondary" @click="cancel">Cancel</b-button>
        </div>
      </form>
    </b-card>
    <subdivision-list :parent-id="id" :parent-mode="mode" v-if="!isAddMode"></subdivision-list>
  </div>  
</template>

<script>
import VeeValidate from 'vee-validate'
import * as modes from '@/components/modes'
import checkModes from '@/components/checkModes'
import Errors from '@/components/Errors'
import formErrors from '@/components/formErrors'
import SubdivisionList from '@/views/country/SubdivisionList'

export default {
  mixins: [
    checkModes,
    formErrors
  ],
  components: {
    VeeValidate,
    SubdivisionList
  },
  props: {
    id: '',
    mode: {
      type: String,
      default: modes.VIEW_MODE
    }
  },
  data: () => {
    return {
      item: {
        alpha_2_code: '',
        alpha_3_code: '',
        numeric_code: '',
        short_name: '',
        long_name: ''
      },
      api: {
        errors: new Errors()
      }
    }
  },
  mounted () {
    if (!this.isAddMode) {
      this.getData()
    }
  },
  computed: {
    emptyItem () {
      return {
        alpha_2_code: '',
        alpha_3_code: '',
        numeric_code: '',
        short_name: '',
        long_name: ''
      }
    },
    printMode () {
      if (this.isAddMode) return '(Add)'
      if (this.isEditMode) return '(Edit)'
      if (this.isViewMode) return '(View)'
    }
  },
  watch: {
    id (val) {
      if (!this.isAddMode) {
        this.getData()
      }
    },
    mode (val) {
      if (!this.isAddMode) {
        this.getData()
      }
    },
    'item.alpha_2_code': function (val) {
      this.item.alpha_2_code = val.toUpperCase()
    },
    'item.alpha_3_code': function (val) {
      this.item.alpha_3_code = val.toUpperCase()
    }
  },
  methods: {
    getData () {
      this.axios.get(`/countries/${this.id}`)
        .then(response => {
          this.item = response.data.data
        }).catch(error => this.onFail(error))
    },
    submit () {
      if (this.isAddMode) this.submitCreate()
      if (this.isEditMode) this.submitUpdate()
    },
    submitCreate () {
      this.axios.post(`/countries`, this.item)
        .then(response => {
          this.item = this.emptyItem
          this.api.errors.clear()
          this.$nextTick(() => this.$validator.reset())
          const data = response.data.data
          console.log(data)
          this.$emit('create:item', data)
        }).catch(error => this.onFail(error))
    },
    submitUpdate () {
      console.log(this.item)
      this.axios.put(`/countries/${this.id}`, this.item)
        .then(response => {
          const data = response.data.data
          console.log(data)
          this.$emit('update:item', data)
        }).catch(error => this.onFail(error))
    },
    cancel () {
      this.$emit('cancel')
    }
  }
}
</script>
