<template>
  <div>
    <b-row >
      <b-col sm="12">
        <subdivision-form :id="actionid" :parent-id="parentId" :mode="mode"
          @create:item="item => itemCreated(item)"
          @update:item="item => itemUpdated(item)"
          @cancel="cancelItem">
        </subdivision-form>
      </b-col>
    </b-row>
  </div>
</template>

<script>
import checkModes from '@/components/checkModes'
import SubdivisionForm from '@/views/country/SubdivisionForm'
import formErrors from '@/components/formErrors'

export default {
  mixins: [
    checkModes,
    formErrors
  ],
  components: {
    SubdivisionForm
  },
  props: ['id', 'parentId', 'mode'],
  data () {
    return {
      actionid: this.id
    }
  },
  watch: {
    id (val) {
      this.actionid = val
    }
  },
  beforeRouteUpdate (to, from, next) {
    console.log(to.params)
    this.actionid = to.params.sid
    next()
  },
  methods: {
    itemCreated (item) {
      const msg = `New Subdivision ${item.id} has been created`
      console.log(msg)
      this.$snotify.success(msg, 'Success')
    },
    itemUpdated (item) {
      const msg = `Subdivision ${item.id} has been updated`
      console.log(msg)
      this.$snotify.success(msg, 'Success')
      this.$router.push('/subdivisions')
    },
    cancelItem () {
      console.log('Go Back')
      this.$router.go(-1)
    }
  }
}
</script>
