<template>
  <div>
    <b-row >
      <b-col sm="12">
        <b-card class="animated fadeIn">
          <div slot="header">
            Subdivisions
            <b-button variant="success" class="float-right" @click="createItem" v-if="!isParentViewMode">Add</b-button>
          </div>
          <b-table striped responsive="sm" :items="items" :fields="itemFields">
            <template slot="actions" slot-scope="data" v-if="!isParentViewMode">
              <b-button variant="outline-primary" title="View" 
                @click="viewItem(data.item)">
                <i class="icon-info icons d-block"></i>
              </b-button>
              <b-button variant="outline-success" title="Edit"
                @click="editItem(data.item)">
                <i class="icon-pencil icons d-block"></i>
              </b-button>
              <b-button variant="outline-danger" title="Delete" 
                @click="confirmDeleteItem(data.item)">
                <i class="icon-close icons d-block"></i>
              </b-button>
            </template>
          </b-table>
        </b-card>
      </b-col>
    </b-row>
    <b-modal ref="confirmModal" title="Delete Confirmation!"
      @ok="deleteItemConfirmed()">
      <div class="d-block text-center">
        <h5>Do you want to delete this Subdivision?</h5>
        <h4>{{ `${currentItem.code}: ${currentItem.name}` }}</h4>
      </div>
    </b-modal>
  </div>
</template>

<script>
import * as modes from '@/components/modes'
import checkModes from '@/components/checkModes'
import SubdivisionForm from '@/views/country/SubdivisionForm'
import formErrors from '@/components/formErrors'

export default {
  mixins: [
    checkModes,
    formErrors
  ],
  components: {
    SubdivisionForm
  },
  props: {
    parentId: '',
    parentMode: {
      type: String,
      default: modes.VIEW_MODE
    }
  },
  data: () => {
    return {
      items: [],
      itemFields: [
        {key: 'code'},
        {key: 'name'}
      ],
      currentItem: {}
    }
  },
  mounted () {
    if (!this.isParentViewMode) {
      this.itemFields.push({key: 'actions'})
    }
    this.getData()
  },
  computed: {
    isParentViewMode () {
      return this.parentMode === modes.VIEW_MODE
    }
  },
  methods: {
    getData () {
      this.axios.get(`/countries/${this.parentId}/subdivisions`)
        .then(response => {
          this.items = response.data.data
        }).catch(error => this.onFail(error))
    },
    createItem () {
      this.$router.push({name: 'add-subdivision', params: {id: this.parentId}})
    },
    viewItem (item) {
      this.$router.push({name: 'view-subdivision', params: {id: this.parentId, sid: item.id}})
    },
    editItem (item) {
      this.$router.push({name: 'edit-subdivision', params: {id: this.parentId, sid: item.id}})
    },
    confirmDeleteItem (item) {
      this.currentItem = item
      this.$refs.confirmModal.show()
    },
    deleteItemConfirmed () {
      this.axios.delete(`/countries/${this.parentId}/subdivisions/${this.currentItem.id}`)
        .then(response => {
          console.log(`Subdivision ${this.currentItem.id} has been deleted`)
          this.$snotify.success(`Subdivision has been deleted.`, 'Success')
          this.getData()
        })
    }
  }
}
</script>
