<template>
  <div class="animated fadeIn">
    <b-card class="card-accent-info">
      <div slot="header">
        <strong>Subdivision</strong> <small>{{ printMode }}</small>
      </div>
      <form method="post" class="container" @submit.prevent="validateBeforeSubmit" @keydown="clearErrors($event.target.name)">
        <b-row>
          <b-col sm="4">
            <b-form-group>
              <label for="code">Code</label>
              <b-form-input type="text" id="code" name="code" placeholder="AA-XXX"
                :disabled="isViewMode"
                v-model="item.code"
                v-validate="{ required: true, regex: /^[A-Z]{2}-[A-Z0-9]{1,3}$/ }"
                :class="{ 'is-invalid':  hasError('code') }">
              </b-form-input>
              <i class="text-danger" v-show="hasError('code')" id="validation_code">
                <small>{{ getError('code') }}</small>
              </i>
            </b-form-group>
          </b-col>
        </b-row>
        <b-row>
          <b-col sm="12">
            <b-form-group>
              <label for="name">Name</label>
              <b-form-input type="text" id="name" name="name" placeholder="Enter Subdivision short name"
                :disabled="isViewMode"
                v-model="item.name"
                v-validate="'required|min:3'"
                :class="{ 'is-invalid':  hasError('name') }">
              </b-form-input>
              <i class="text-danger" v-show="hasError('name')" id="validation_name">
                <small>{{ getError('name') }}</small>
              </i>
            </b-form-group>
          </b-col>
        </b-row>
        <div class="form-actions">
          <b-button type="submit" variant="primary" v-if="!isViewMode" :disabled="anyError()">Save changes</b-button>
          <b-button type="button" variant="secondary" @click="cancel">Cancel</b-button>
        </div>
      </form>
    </b-card>
  </div>  
</template>

<script>
import VeeValidate from 'vee-validate'
import * as modes from '@/components/modes'
import checkModes from '@/components/checkModes'
import Errors from '@/components/Errors'
import FormErrors from '@/components/formErrors'

export default {
  mixins: [
    checkModes,
    FormErrors
  ],
  components: {
    VeeValidate
  },
  props: {
    parentId: '',
    id: '',
    mode: {
      type: String,
      default: modes.VIEW_MODE
    }
  },
  data: () => {
    return {
      item: {
        code: '',
        name: ''
      },
      api: {
        errors: new Errors()
      }
    }
  },
  mounted () {
    if (!this.isAddMode) {
      this.getData()
    }
  },
  computed: {
    printMode () {
      if (this.isAddMode) return '(Add)'
      if (this.isEditMode) return '(Edit)'
      if (this.isViewMode) return '(View)'
    }
  },
  watch: {
    id (val) {
      if (!this.isAddMode) {
        this.getData()
      }
    },
    mode (val) {
      if (!this.isAddMode) {
        this.getData()
      }
    },
    'item.code': function (val) {
      this.item.code = val.toUpperCase()
    }
  },
  methods: {
    getData () {
      this.axios.get(`/countries/${this.parentId}/subdivisions/${this.id}`)
        .then(response => {
          this.item = response.data.data
        })
    },
    submit () {
      if (this.isAddMode) this.submitCreate()
      if (this.isEditMode) this.submitUpdate()
    },
    submitCreate () {
      this.axios.post(`/countries/${this.parentId}/subdivisions`, this.item)
        .then(response => {
          let item = response.data.data
          console.log(item)
          this.$emit('create:item', item)
        }).catch(error => this.onFail(error))
    },
    submitUpdate () {
      console.log(this.item)
      this.axios.put(`/countries/${this.parentId}/subdivisions/${this.id}`, this.item)
        .then(response => {
          let item = response.data.data
          console.log(item)
          this.$emit('update:item', item)
        }).catch(error => this.onFail(error))
    },
    cancel () {
      this.$emit('cancel')
    }
  }
}
</script>
