<template>
  <div class="app flex-row align-items-center">
    <vue-snotify></vue-snotify>
    <div class="container">
      <b-row class="justify-content-center">
        <b-col md="8">
          <!-- <b-alert variant="danger"
            dismissible
            :show="showMessage"
            @dismissed="message=''"
            > {{ message }}
          </b-alert> -->
          <b-card-group>
            <b-card no-body class="p-4">
              <b-card-body>
                <b-form @submit="validateBeforeLogin" @keydown="message=''">
                  <h1>Login</h1>
                  <p class="text-muted">Sign In to your account</p>
                  <b-input-group class="mb-3">
                    <b-input-group-prepend><b-input-group-text><i class="icon-user"></i></b-input-group-text></b-input-group-prepend>
                    <input type="text" class="form-control" placeholder="Username@domain.com" name="username"
                      v-model="username"
                      v-validate="'required|email'"
                      :class="{ 'is-invalid':  errors.has('username') }"
                      >
                    <i class="invalid-feedback" v-show="errors.has('username')" id="validation_username">
                      {{ errors.first('username') }}
                    </i>
                  </b-input-group>
                  <b-input-group class="mb-4">
                    <b-input-group-prepend><b-input-group-text><i class="icon-lock"></i></b-input-group-text></b-input-group-prepend>
                    <input type="password" class="form-control" placeholder="Password" name="password"
                      v-model="password"
                      v-validate="'required'"
                      :class="{ 'is-invalid':  errors.has('password') }"
                      >
                    <i class="invalid-feedback" v-show="errors.has('password')" id="validation_password">
                      {{ errors.first('password') }}
                    </i>
                  </b-input-group>
                  <b-row>
                    <b-col cols="6">
                      <b-button type="submit" variant="primary" class="px-4" :disabled="errors.any()">Login</b-button>
                    </b-col>
                  </b-row>
                </b-form>
              </b-card-body>
            </b-card>
          </b-card-group>
        </b-col>
      </b-row>
    </div>
  </div>
</template>

<script>
import VeeValidate from 'vee-validate'

export default {
  name: 'Login',
  components: {
    VeeValidate
  },
  data: () => {
    return {
      username: '',
      password: '',
      message: ''
    }
  },
  computed: {
    showMessage () {
      return (this.message !== null && this.message !== '')
    }
  },
  methods: {
    validateBeforeLogin (evt) {
      evt.preventDefault()
      this.$validator.validateAll().then(result => { if (result) this.login() })
    },
    login () {
      if (this.username === 'test@domain.com' && this.password === 'abc123') {
        this.$session.start()
        this.$session.set('auth', this.username)
        this.$router.push('/')
      } else {
        this.message = 'Invalid Credentials'
        this.$snotify.error(this.message, 'Login Fail')
        console.log(this.message)
      }
    }
  }
}
</script>
