<template>
      <b-nav-item-dropdown right no-caret>
        <template slot="button-content">
          <!-- <img src="static/img/avatars/6.jpg" class="img-avatar" :alt="username"> -->
          <i class="icon-user" style="font-size: 22pt" :alt="username"></i>
        </template>
        <b-dropdown-header tag="div" class="text-center"><strong>{{ username }}</strong></b-dropdown-header>
        <b-dropdown-item @click="logout"><i class="icon-logout"></i> Logout</b-dropdown-item>
      </b-nav-item-dropdown>
</template>
<script>
  export default {
    name: 'header-dropdown',
    data: () => {
      return { username: 'test@domain.com' }
    },
    methods: {
      logout: function () {
        this.$session.destroy()
        this.$router.push('/login')
      }
    }
  }
</script>

